<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Login To System</title>
    <link href="../../../css/bootstrap.css"
          th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:include="fragments :: navbar"></div>
<div class="container-fluid" style="margin: 0 10px;">
    <div th:include="fragments :: toolbar"></div>
    <div class="row" style="font-size: x-large; border-bottom: 1px solid lightgray;">
        Please Login
    </div>
    <div class="row" style="margin-top: 20px;">
        <form class="form-horizontal col-md-offset-3" method="post"
              action="../questions.html" th:action="@{/user/login}"
              th:object="${user}">
            <div class="form-group" th:if="${param.error != null}">
                <div class="col-md-offset-2 col-md-4">
                    <span th:text="${#authentication.credentials}">00</span>
                    <li class="text-danger" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                        Incorrect Input
                    </li>
                </div>
            </div>

            <div class="form-group">
                <label th:for="${#ids.next('username')}" class="col-md-2 control-label">Username</label>

                <div class="col-md-4">
                    <input type="text" name="username" id="username" th:value="*{name}" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('password')}" class="col-md-2 control-label">Password</label>

                <div class="col-md-4">
                    <input type="password" name="password" id="password" th:value="*{password}" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <div class="checkbox">
                        <label><input type="checkbox" name="remember-me"/> Remember me</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" class="btn btn-default">Sign In</button>
                    <a href="register.html" th:href="@{/user/register}" class="btn btn-default">Sign Up</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>