<!--
john
<-->

<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>User List</title>
    <link href="../../../css/bootstrap.css"
          th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<div th:include="fragments :: navbar"></div>
<div class="container-fluid text-center container" style="margin: 0 10px;">
    <div th:include="fragments :: toolbar"></div>


    <div id="content" class="container" >

        <div id="mainbar-full">
            <div class="row text-right" style="font-size: x-large; border-bottom: 1px solid lightgray;">
                <h1 class="text-left" id="h-users">Users</h1>

                <div id="tabs">
                    <a class="youarehere" href="/users?tab=reputation" data-nav-xhref="" title="Users with the highest reputation scores" data-value="reputation">reputation</a>
                    <a href="/users?tab=newusers" data-nav-xhref="" title="Users who joined in the last 30 days" data-value="newusers">new users</a>
                    <a href="/users?tab=voters" data-nav-xhref="" title="Users who voted more than 10 times" data-value="voters">voters</a>
                    <a href="/users?tab=editors" data-nav-xhref="" title="Users who edited at least 5 posts" data-value="editors">editors</a>
                    <a href="/users?tab=moderators" data-nav-xhref="" title="Our current community moderators" data-value="moderators">moderators</a>
                </div>
            </div>

            <div class="row">
                <form class="navbar navbar-collapse" th:object="${tmpuser}" th:action="@{/users/search}" role="search"
                      method="post">
                    <div class="col-md-6 pull-right">
                            <div class="row" >
                                Type to find users:
                    <input id="userfilter" name="userfilter" class="form-control input-sm"
                                           th:field="*{name}"           type="text" value="" style="margin-left: 10px;">
                            <button  type="submit" class="btn btn-default ">search
                            </button>
</div>


                            <div id="tabs-interval" class="dropdown pull-right">
                                <a href="/users?tab=Reputation&amp;filter=all" data-nav-xhref="" title="2008-07-31 to today" data-value="all">all</a>
                                <a href="/users?tab=Reputation&amp;filter=year" data-nav-xhref="" title="2015-01-01 to today" data-value="year">year</a>
                                <a href="/users?tab=Reputation&amp;filter=quarter" data-nav-xhref="" title="2015-10-01 to today" data-value="quarter">quarter</a>
                                <a class="youarehere" href="/users?tab=Reputation&amp;filter=month" data-nav-xhref="" title="2015-11-01 to today" data-value="month">month</a>
                                <a href="/users?tab=Reputation&amp;filter=week" data-nav-xhref="" title="2015-11-08 to today" data-value="week">week</a>
                            </div>
                    </div>
                </form>
            </div>
            </div>

            <div id="user-browser" class=" row text-center" th:each="user:${userlist}">
                 <div class="col-md-3 text-center" >

                     <div class="user-info  user-hover">
                         <div class="row">
                             <a href="/users/1144035/gordon-linoff" th:href="@{/user/{id}(id=*{user.id})}"><div class="gravatar-wrapper-48"><img
                                     src="" alt="" width="48" height="48"></div></a>
                         </div>
                         <div class="user-details row">
                             <a href="/users/1144035/gordon-linoff" th:href="@{/user/{id}(id=${user.id})}"
                                th:field="${user.name}">Gordon
                                 Linoff</a><br>
                             <span class="user-location row " th:field="${user.name}">New York, United States</span><br>
                             <span class="reputation-score row " th:field="${user.getReputation()}"
                                  th:title="reputation this month ${user.getReputation()}"  title="reputation this month: 4652 total reputation: 354753" dir="ltr">4,
                                 652</span>
                         </div>
                         <div class="user-tags row">
                             <a href="questions/tagged/sql" th:field="${{user.tags}}">sql</a>, <a href="questions/tagged/mysql">
                             mysql</a>, <a
                                 href="questions/tagged/sql-server">sql-server</a>
                         </div>
                     </div>

                 </div>

                <!--
                <table>
                    <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <div class="user-info  user-hover">
                                <div class="row">
                                    <a href="/users/1144035/gordon-linoff"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/e514b017977ebf742a418cac697d8996?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
                                </div>
                                <div class="user-details row">
                                    <a href="/users/1144035/gordon-linoff">Gordon Linoff</a><br>
                                    <span class="user-location">New York, United States</span><br>
                                    <span class="reputation-score" title="reputation this month: 4652 total reputation: 354753" dir="ltr">4,652</span>
                                </div>
                                <div class="user-tags row">
                                    <a href="questions/tagged/sql">sql</a>, <a href="questions/tagged/mysql">mysql</a>, <a href="questions/tagged/sql-server">sql-server</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="/users/6309/vonc"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/7aa22372b695ed2b26052c340f9097eb?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
                                </div>
                                <div class="user-details">
                                    <a href="/users/6309/vonc">VonC</a><br>
                                    <span class="user-location">France</span><br>
                                    <span class="reputation-score" title="reputation this month: 3457 total reputation: 538315" dir="ltr">3,457</span>
                                </div>
                                <div class="user-tags">
                                    <a href="questions/tagged/git">git</a>, <a href="questions/tagged/eclipse">eclipse</a>, <a href="questions/tagged/java">java</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="user-info ">
                                <div class="user-gravatar48">
                                    <a href="/users/3732271/akrun"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/ee6e12042dc31b1ef27471482f9ff91f?s=48&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48"></div></a>
                                </div>
                                <div class="user-details">
                                    <a href="/users/3732271/akrun">akrun</a><br>
                                    <span class="user-location"></span><br>
                                    <span class="reputation-score" title="reputation this month: 3266 total reputation: 115349" dir="ltr">3,266</span>
                                </div>
                                <div class="user-tags">
                                    <a href="questions/tagged/r">r</a>, <a href="questions/tagged/data.frame">data.frame</a>, <a href="questions/tagged/dplyr">dplyr</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="user-info  user-hover">
                                <div class="user-gravatar48">
                                    <a href="/users/157247/t-j-crowder"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/ca3e484c121268e4c8302616b2395eb9?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
                                </div>
                                <div class="user-details">
                                    <a href="/users/157247/t-j-crowder">T.J. Crowder</a><br>
                                    <span class="user-location">United Kingdom</span><br>
                                    <span class="reputation-score" title="reputation this month: 3219 total reputation: 399011" dir="ltr">3,219</span>
                                </div>
                                <div class="user-tags">
                                    <a href="questions/tagged/javascript">javascript</a>, <a href="questions/tagged/jquery">jquery</a>, <a href="questions/tagged/java">java</a>
                                </div>
                            </div>
                        </td>
                    </tr>


                    </tbody>

                </table>



                <div class="row pull-right navbar-fixed-bottom"  style="font-size: x-large">
                    <span class="">1</span>
                    <a href="/users?page=2&amp;tab=reputation&amp;filter=month" title="go to page 2"> <span class="page-numbers">2</span> </a>
                    <a href="/users?page=3&amp;tab=reputation&amp;filter=month" title="go to page 3"> <span class="page-numbers">3</span> </a>
                    <a href="/users?page=4&amp;tab=reputation&amp;filter=month" title="go to page 4"> <span class="page-numbers">4</span> </a>
                    <a href="/users?page=5&amp;tab=reputation&amp;filter=month" title="go to page 5"> <span class="page-numbers">5</span> </a>
                    <span class="page-numbers dots">…</span>         <a href="/users?page=126086&amp;tab=reputation&amp;filter=month" title="go to page 126086"> <span class="page-numbers">126086</span> </a>
                    <a href="/users?page=2&amp;tab=reputation&amp;filter=month" rel="next" title="go to page 2"> <span class="page-numbers next"> next</span> </a>

                </div>

            --></div>


        </div>

    </div>

</body>
</html>